<!DOCTYPE html>
<html>
<head lang="cn">
  <meta charset="UTF-8">
  <title>点乐自助平台-新广告创建通知</title>
  <style>
    .go-to-btn {
      background-color: #337ab7;
      color: #FFF;
      display: inline-block;
      line-height: 2em;
      font-size: 1.2em;
      text-decoration: none;
      width: 200px;
      text-align: center;
      border-radius: 4px;
    }
    .go-to-btn:hover {
      background-color: #286090;
    }
    .mt20 {
      margin-top: 20px;
    }
  </style>
</head>
<body>

<h1>有新广告了！</h1>
<p class="lead">{{owner}}创建了一个广告，详情如下，请尽快处理。</p>

<table>
  <tr>
    <th>广告名</th>
    <td>{{ad_name}}</td>
  </tr>
  <tr>
    <th>广告主报价</th>
    <td>{{quote_rmb}}</td>
  </tr>
  <tr>
    <th>渠道名称</th>
    <td>{{channel}}</td>
  </tr>
  <tr>
    <th>完成条件</th>
    <td>{{cate}}</td>
  </tr>
  <tr>
    <th>备注</th>
    <td>{{others}}</td>
  </tr>
</table>

<a href="http://www.dianjoy.com/dev/admin/#/ad/edit/{{id}}" target="_blank" class="go-to-btn mt20">立即处理</a>
</body>
</html>